<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>
<ul>
	<li><a href="/"> home </a> </li>
	<li><a href="/products"> products</a></li>
	<li><a href="/orders/new"> new order</a> </li>
</ul>
