

<div class="container-fluid">
	<div class="row about-div">
		<div class="col-md-3">
		</div>
		<div class="col-md-6 about-blk">
		  <p>
		  	Lorem ipsum dolor sit amet, orci dictum amet diam tempus, a qui. Nulla in amet mollis nonummy, nibh vitae, et a proin curabitur vehicula quam, erat turpis, vitae luctus ut mi duis convallis. Lacus sapien diam augue vivamus lorem sed. Imperdiet convallis ice cream, nullam gravida et, nec enim non nulla auctor, laoreet maecenas dolor a, dolor faucibus ac orci dolor in. Sodales magna. Eleifend nunc enim amet magnis gravida quis, pellentesque suscipit nam, in non tristique. Dolor eget dictum vestibulum, nec dolor ipsum habitasse, porttitor ullamcorper tellus etiam fermentum suspendisse, ice cream euismod lobortis, vel sodales arcu. 
		  </p>
		</div>
	</div>
	
</div>
