
<div class="container">
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6">
		<h1 class="user-h1">Welcome to The Ice Cream&eacute Shoppe</h1>

		<div class="cow-img">

		</div>

		<div class="dairy-text">
		  <p>
			Gourmet ice-cream delivered to your home straight from the dairy.
		  </p>
		</div>
	</div>
</div>
</div>
