<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<nav class="nav-bar">
	<ul>
		<li> <a href="/"> Home</a></li>
		<li> <a href="/static_pages/about"> About</a></li>		
		<li> <a href="/products"> Products</a></li>	       
	</ul>
</nav>
