<div class="container-fluid">
  <div class="user-div row">
    <div class="col-md-1"></div>
    <div class="account-blk col-md-4">
      <h4> Your account info </h4>
      <table class="account-table">
        <tr>
	      	<th></th>
	      	<th></th>
	      </tr>
	      <tr>
	      	<td> <b> Username: </b></td>
	      	<td> <%= @user.username %></td>
	      </tr>
	      <tr>
	      	<td> <b> Address: </b></td>
	      	<td> <%= @user.address %> </td>
	      </tr>
	      <tr>
	      	<td> <b> email: </b></td>
	      	<td> <%= @user.email %> </td>
	      </tr>
      </table>
      <div class="update-btn">
      <button class="update"> UPDATE</button>
      </div>
    </div>
    <div class="col-md-3">
    	<h4> Your orders </h4>
    </div>
    <div class="col-md-3">
    	<h4> Your wishlist </h4>
    </div>
  </div>
</div>
