<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>

<div>
  <h3> Your order</h3>
    <% @your_order.products.each do |prod| %>
    <h4> Ice cream flavor</h4>
    <%= prod.name %>
    <h4> price (10 gallons) </h4>
    <%= prod.price %>
   <% end %>
</div>
